
.states:hover{
  fill:yellow;
  cursor:pointer;
}

.range-style{

}

.play-button{
  width: 50px;
  height: 28px;
  background-color: green;
  float:left;
  margin-left: 50px;
  border-radius: 5px;
  cursor:pointer;
  text-align:center;
  color: white;
  font-size:large;
}

.stop-button{
  width: 50px;
  height: 28px;
  background-color: red;
  float:left;
  margin-left: 50px;
  border-radius: 5px;
  cursor:pointer;
  text-align:center;
  color: white;
  font-size:large;
}

.time-slider{
  width: 500px;
  float:left;
  margin-left: 5px;
}

.time{
  margin-left: 50px;

}

.map-vis{
  float:left;
}

.choice{
  float: left;
}

.col-md-3 #pics {
  width: 200px; 
  height: 400px; 
  background-color: aliceblue; 
  float: left; 
  margin-left:40px; 
  margin-top: 20px;
}