.stroke {
  fill: none;
  stroke: skyblue;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.country {
    fill: skyblue;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke: none;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
  fill: white;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.tweet {
    fill: red;
    fill-opacity: 0.925;
}

.retweet {
    fill: yellow;
    fill-opacity: 0.925;
}

rect {
  -webkit-transition: fill-opacity 250ms linear;
}

.selecting rect {
  fill-opacity: .2;
}

.selecting rect.selected {
  stroke: #f00;
}

.resize path {
  fill: #666;
  fill-opacity: .8;
  stroke: #000;
  stroke-width: 1.5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
