.map{
    width: auto;
    height: auto;
}

.range{
    width: auto;
    float: left;
}

.politician{
    width: 100%; 
    height: 400px; 
    float: left; 
}

.map-vis{
    padding-top: 5px;
    padding-left:5px;
    margin-bottom: 10px;
    float:left;
}

.choice{
    float: left;
    margin-top: 10px;
}


