<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    
    <script src="http://d3js.org/queue.v1.min.js"></script>

    <script src = "/js/Map_Vis.js"></script>
    <script src = "/js/Congress_Vis.js"></script>
    <script src = "/js/President_Vis.js"></script>
    <script src = "/js/Twitter_Vis.js"></script>
    <script src = "/js/Area_Vis.js"></script>


    <style>

        .cuba{
            margin-left: 200px;
        }

        .cuba button{
            margin-left: 10px;
        }
        .states:hover
        {
            fill:yellow;
            cursor:pointer;
        }

        .range-style{

        }

        .play-button{
            width: 8%;
            height: 28px;
            background-color: green;
            float:left;
            border-radius: 5px;
            cursor:pointer;
            text-align:center;
            color: white;
            font-size:large;
        }

        .stop-button{
           width: 8%;
            height: 28px;
            background-color: red;
            float:left;
            border-radius: 5px;
            cursor:pointer;
            text-align:center;
            color: white;
            font-size:large;
        }

        .time-slider{
            width: 90%;
            float:left;
            margin-left: 5px;
        }

        .time{
            margin-left: 50px;

        }

        .map-vis{
            margin-left:auto; 
            margin-right: auto;
            display:block;
        }

        .choice{
          
            float: left;
        }

        .axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


        
    </style>

    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
   
        @RenderBody()
        
</body>
</html>