/*----------------------*\
  $FONTS
  $GENERAL
  $INTRO PAGE
  $HEADER
  $MAIN
  $FOOTER
  $BOOTSTRAP OVERRIDE
\*-----------------------*/


/*-------------------------------------------------- */
/* Fonts
/*-------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/*-------------------------------------------------- */
/* General
/*-------------------------------------------------- */
html, body {
  margin:0;
  padding:0;
  height:100%;
}
body {
  background-color: rgb(240, 242, 244);
  font-family: 'Open Sans', sans-serif;
}
a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.loading {
  background: url('../img/loading.gif') no-repeat center center;
 }
 .wrapper.loading {
  display: none;
 }
/*-------------------------------------------------- */
/* Intro Page
/*-------------------------------------------------- */
/*.intro-video-container {
  margin-top: 20%;
}*/
ul.intro-links {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 15px;
}
ul.intro-links > li {
  display: inline-block;
}
ul.intro-links > li a {
  text-decoration: none;
  -o-transition: .5;
  -ms-transition: .5;
  -moz-transition: .5;
  -webkit-transition: .5;
  /* ...and now for the proper property */
  transition: .5;
  margin: 0px 10px;
}
ul.intro-links > li a:hover {
  color: #000;    
}

/*-------------------------------------------------- */
/* Website
/*-------------------------------------------------- */
#header .navbar {
  background-color:rgba(0, 0, 0, 0.5);  
  border: none;
  height: 80px;
}
#header .navbar-default .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1em;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 20px;
  -o-transition:background .3s ease-in;
  -ms-transition:background .3s ease-in;
  -moz-transition:background .3s ease-in;
  -webkit-transition:background .3s ease-in;
  /* ...and now override with proper CSS property */
  transition:background .3s ease-in;

}
#header .navbar-default .navbar-nav > li > a:hover {
  background-color: #999;  
}
#header .navbar-default .navbar-nav>.active>a, 
#header .navbar-default .navbar-nav>.active>a:focus, 
#header .navbar-default .navbar-nav>.active>a:hover {
  background-color: #999;
}

#header ul.nav.navbar-nav {
  float: none;
  text-align: center;
  /*padding-top: 15px;*/
}
#header ul.nav.navbar-nav > li {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
#header .navbar-default .navbar-nav > li.logo > a {
  background: url('../img/logo.png') no-repeat center center;
  width: 100px;
  height: 80px;
  background-size: 80px 70px;
}
#section0 { 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#section0 .headline {
  color: #fff;
  font-size: 6em;
  font-weight: 300;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #fff;
  padding: 10px 20px;
  /*top: 10%;*/
  /*margin-top: -45%;*/
}
/*.wrapper, .section {
  height: 100%;
}*/

/*-------------------------------------------------- */
/* D3 Style
/*-------------------------------------------------- */
.stroke {
  fill: none;
  stroke: skyblue;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.country {
    fill: skyblue;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke: none;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
  fill: white;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.tweet {
    fill: red;
    fill-opacity: 0.925;
}

.retweet {
    fill: yellow;
    stroke: red;
    stroke-width: 0.5px;
}

/*-------------------------------------------------- */
/* Media Queries
/*-------------------------------------------------- */
@media(max-width: 1200px) {
  #header .navbar-default .navbar-nav > li > a {
    margin: 0px;
  }
  #section0 .headline {
    font-size: 5em;
  }
}

@media(max-width: 768px) {
  ul.intro-links > li {
    display: block;
    margin-bottom: 10px
  }
  #introVideo {
    height: 360px;
  }
  #header .navbar {
    height: auto;
  }
  #header ul.nav.navbar-nav {
    background-color:rgba(0, 0, 0, 0.7);  
  }
  #header ul.nav.navbar-nav > li {
    display: block;
  }
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }

    .axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.art {
    float: left;
    width: 45%;
    height: 150px;
    margin-right: 5%;
    margin-bottom: 10px;
}