<div id="content" style="width: 100%;">
    <div id="time" style="width: 86%; margin-left: 5%; float: left; height: 50px;">
        <div id="range" style="width: 50%; float: left; height: 40px;">

            <span id="play" class="play-button">Play</span>
            <input id="slider" type="range" class="time-slider" />

        </div>
        <div id="clock" style="width: 21%; float: left; height: 40px;">

            <span id="even-time" class="time">HH:00:00</span>
        </div>
        <div id="title" style="width: 29%; float: left; height: 40px; text-align: center">
            <span class="politician-type">President</span>
        </div>
    </div>
    <div id="map-buttons" style="margin-left: 5%; float: left; width: 50%; height: auto;">
        <div id="mapVis" style="float: left; width: 100%; height: 500px; text-align: center">
        </div>
        <div id="buttons" style="float: left; width: 50%; height: 60px; background-color:yellow">
            <span class="analysis-type" style="width: 80px; float: left; margin-top: 10px; margin-left: 20px; height: 30px; display: block; background-color:yellow">President</span>
            <span class="analysis-type" style="width: 80px; float: left; margin-top: 10px; margin-left: 20px; height: 30px; display: block; ">Sentiment</span>
        </div>
        <div id="color-representation" style="float: left; width: 50%; height: 60px; background-color:black">
        </div>
    </div>
    <div id="hist-politician" style="margin-left: 1%; float: left; width: 35%; height: 560px;">
        <div id="politician1" style="float: left; width: 100%; height: 60%;">
            <div class="politician">
                <div class="example">
                    <div class="panel-group" id="senate">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#senate" href="#collapseSen">Senators
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSen" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="example">
                                        <div id="carousel-sen" class="carousel slide">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="example">
                        <div class="panel-group" id="rep">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#rep" href="#collapseRep">Representatives
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseRep" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="example">
                                            <div id="carousel-rep" class="carousel slide">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="areaVis" style="float: left; width: 100%; height: 40%;">

        </div>
    </div>
</div>

<script>
    $(function () {
        var stateData = [];
        var tweets = [];
        var congress = [];
        var areaData = [];

        var initVis = function () {
            var MyEventHandler = new Object();
            var map_vis = new MapVis(d3.select("#mapVis"), stateData, tweets, MyEventHandler);
            var area_vis = new AreaVis(d3.select("#areaVis"), areaData, MyEventHandler);
            //var Event_handlers = new EventHandler(MyEventHandler);
            // var tweet_vis = new TwitterVis(d3.select("#mapVis"), tweets, MyEventHandler);
            // var congress_vis = new CongressVis(d3.select("#carousel-sen"), d3.select("#carousel-rep"), congress, MyEventHandler);

            $(MyEventHandler).bind("runSlide", function (event, data) {

                var element = document.getElementById('slider');
                var value = parseInt(element.value);
                var max = parseInt(element.max);
                var len = max - value;

                for (var i = 0; i < len; i++)
                {

                    setTimeout(function (x) {
                        return function () {
                            map_vis.animate2(parseInt(element.value))
                            area_vis.onChange(parseInt(element.value) + 1)
                            element.value = parseInt(element.value) + 1;
                        };
                    }(i), 2000 * i);
                    
                }

               // map_vis.animate2(parseInt(element.value))
               // element.value = parseInt(element.value) + 1;

                


                
                
                
                // congress_vis.onSelectionChange(data);

            });

            $(MyEventHandler).bind("selectionChanged", function (event, data) {


                // congress_vis.onSelectionChange(data);

            })
        }

        var dataLoaded = function (error, _stateData, _tweets, _congress) {


            /* var geo = '{ "type": "FeatureCollection", "features": [';

             _tweets.forEach(function (d) {
                 geo += '{"type": "Feature", "properties": {"city": "' + d.City + '", "state": "' + d.State + '", "time": ' + d.epoch_time
                     + '}, "geometry":{ "type": "' + d.type + '", "coordinates": [[';

                 var spl = d.coordinates.split(";");
                 var commaPlacer = 0;
                 spl.forEach(function (c) {

                     if (commaPlacer++ > 0)
                         geo += ', [' + c + ']';
                     else
                         geo += '[' + c + ']';
                 })

                 geo += ']]}},';

             });
             geo += ']}';*/
            ////  "geometry": { "type": "Polygon", "coordinates": [ [ [ -85.184131, 32.870525 ], [ -85.123421, 32.772248 ], [ -85.132040, 32.764211 ], [ -85.136776, 32.746512 ], [ -85.285043, 32.730731 ], [ -85.593151, 32.728530 ], [ -85.593177, 33.107340 ], [ -85.232378, 33.108077 ], [ -85.223261, 33.062580 ], [ -85.221868, 33.055538 ], [ -85.184131, 32.870525 ] ] ] } }

            // console.log(geo);

            if (!error) {
                var min = d3.min(_tweets.objects.tweets.geometries, function (d) {
                    return d.properties.time;
                });

                var max = d3.max(_tweets.objects.tweets.geometries, function (d) {
                    return d.properties.time;
                });

                var period = (max - min) / 3600;
                var temp = [];

                var current = min;
                for (var i = 0; i < period - 1; i++) {

                    current = current + 3600;

                    var res = _tweets.objects.tweets.geometries.filter(function (d) {
                        if (d.properties.time >= current && d.properties.time < current + 3600)
                            return d;
                    });
                    temp.push(res);

                }

                temp.forEach(function (d) {
                    areaData.push(d.length);
                });
                stateData = _stateData;
                tweets = _tweets;
                congress = _congress;
                initVis();
            }
        }

        var startHere = function () {
            queue()
                .defer(d3.json, '/data/states.topo.json') // geojson points
                //.defer(d3.csv, 'data/Usa_Compilation.csv')
                .defer(d3.json, '/data/tweets_1.topo.json')
                .defer(d3.csv, '/data/legislators-current.csv')
                .await(dataLoaded);
        }
        startHere();
    })

    var getInnerWidth = function (element) {
        var style = window.getComputedStyle(element.node(), null);

        return parseInt(style.getPropertyValue('width'));
    }
</script>
