<div id="content" style="width: 100%;">
    <div id="time" style="width: 86%; margin-left: 5%; float: left; height: 50px;">
        <div id="range" style="width: 50%; float: left; height: 40px;">

            <span id="play" class="play-button">Play</span>
            <input id="slider" type="range" class="time-slider" />

        </div>
        <div id="clock" style="width: 21%; float: left; height: 40px;">

            <span id="even-time" class="time">HH:00:00</span>
        </div>
        <div id="title" style="width: 29%; float: left; height: 40px; text-align: center">
            <span class="politician-type">President</span>
        </div>
    </div>
    <div id="map-buttons" style="margin-left: 5%; float: left; width: 50%; height: auto;">
        <div id="mapVis" style="float: left; width: 100%; height: 500px; text-align: center">
        </div>
        <div id="buttons" style="float: left; width: 50%; height: 60px;">
            <span id="pres-view" class="analysis-type">President</span>
            <span id="sent-view" class="analysis-type">Sentiment</span>
        </div>
        <div id="color-representation" style="float: left; width: 50%; height: 60px;">
        </div>
    </div>
    <div id="area-hist-politician" style="margin-left: 1%; float: left; width: 35%; height: 560px;">
        <div id="politician" style="float: left; width: 100%; height: 60%; display: none">
            <span id="pol-state" style="display: block; width: inherit">Senators</span>

            <div id="senatorsVis" style="width: 50%; height: 100%; float: left">
            </div>
        </div>
        <div id="areaVis" style="float: left; width: 100%; height: 40%;">
        </div>
        <span id="repre" style="display:none">Representatives</span>
        <div id="repVis" style="float: left; width: 100%; height: 55%; display:none;">
        </div>
    </div>
</div>

<script>
    var nyTimesAPI = function (n) {
        var call = "http://api.nytimes.com/svc/search/v2/articlesearch.json?q=cuba&begin_date=20141217&page="
          + n + "&api-key=sample-key";
        return call;
    };


    $(function () {
        var stateData = [];
        var tweets = [];
        var congress = [];
        var areaData = [];
        var histData = [];

        var initVis = function () {
            var MyEventHandler = new Object();
            var map_vis = new MapVis(d3.select("#mapVis"), stateData, tweets, MyEventHandler);
            var area_vis = new AreaVis(d3.select("#areaVis"), areaData, MyEventHandler);
            var sen_vis = new SenVis(d3.select("#senatorsVis"), congress, MyEventHandler);
            var rep_vis = new RepVis(d3.select("#repVis"), congress, MyEventHandler)
            var play;
            $(MyEventHandler).bind("runSlide", function (event, data) {


                if (data.innerText === 'Play') {
                    data.innerText = 'Stop';
                    data.className = 'stop-button';
                }

                else {
                    clearInterval(play);
                    data.innerText = 'Play';
                    data.className = 'play-button';
                    return;
                }

                var element = document.getElementById('slider');
                var value = parseInt(element.value);
                var max = parseInt(element.max);
                var len = max - value;

                //for (var i = 0; i < len; i++)
                //{

                //    setTimeout(function (x) {
                //        return function () {
                //            map_vis.animate2(parseInt(element.value))
                //            area_vis.onChange(parseInt(element.value) + 1)
                //            element.value = parseInt(element.value) + 1;
                //        };
                //    }(i), 1500 * i);

                //}

                play = setInterval(function () {
                    map_vis.animate2(parseInt(element.value))
                    area_vis.onChange(parseInt(element.value) + 1)
                    element.value = parseInt(element.value) + 1;

                }, 2000);

            });

            $(MyEventHandler).bind("selectionChanged", function (event, data) {

                sen_vis.onChange(data);
                rep_vis.onChange(data);

            });

            $(MyEventHandler).bind("chooseView", function (event, data) {

                if (data.innerText !== 'President') {
                    clearInterval(play);

                    document.getElementById("time").style.visibility = "hidden";
                    map_vis.sentimentalData();
                    document.getElementById("areaVis").style.display = "none";
                    document.getElementById("politician").style.display = "block";
                    document.getElementById("repVis").style.display = "block";
                    document.getElementById("repre").style.display = "block";
                    // document.getElementById("histVis").style.display = "none";

                }
                else {
                    document.getElementById("time").style.visibility = "visible";
                    document.getElementById("politician").style.display = "none";
                    document.getElementById("areaVis").style.display = "block";
                    document.getElementById("repVis").style.display = "none";
                    document.getElementById("repre").style.display = "none";
                    //document.getElementById("histVis").style.display = "block";
                    map_vis.presidentialData();
                }
            });
        }

        var dataLoaded = function (error, _stateData, _tweets, _congress) {


            /* var geo = '{ "type": "FeatureCollection", "features": [';

             _tweets.forEach(function (d) {
                 geo += '{"type": "Feature", "properties": {"city": "' + d.City + '", "state": "' + d.State + '", "time": ' + d.epoch_time
                     + '}, "geometry":{ "type": "' + d.type + '", "coordinates": [[';

                 var spl = d.coordinates.split(";");
                 var commaPlacer = 0;
                 spl.forEach(function (c) {

                     if (commaPlacer++ > 0)
                         geo += ', [' + c + ']';
                     else
                         geo += '[' + c + ']';
                 })

                 geo += ']]}},';

             });
             geo += ']}';*/
            ////  "geometry": { "type": "Polygon", "coordinates": [ [ [ -85.184131, 32.870525 ], [ -85.123421, 32.772248 ], [ -85.132040, 32.764211 ], [ -85.136776, 32.746512 ], [ -85.285043, 32.730731 ], [ -85.593151, 32.728530 ], [ -85.593177, 33.107340 ], [ -85.232378, 33.108077 ], [ -85.223261, 33.062580 ], [ -85.221868, 33.055538 ], [ -85.184131, 32.870525 ] ] ] } }

            // console.log(geo);

            if (!error) {
                var min = d3.min(_tweets.objects.tweets.geometries, function (d) {
                    return d.properties.time;
                });

                var max = d3.max(_tweets.objects.tweets.geometries, function (d) {
                    return d.properties.time;
                });

                var period = (max - min) / 3600;
                var temp = [];

                var current = min;
                for (var i = 0; i < period - 1; i++) {

                    current = current + 3600;

                    var res = _tweets.objects.tweets.geometries.filter(function (d) {
                        if (d.properties.time >= current && d.properties.time < current + 3600)
                            return d;
                    });
                    temp.push(res);

                }

                temp.forEach(function (d) {
                    areaData.push(d.length);
                });

                temp = [];


                stateData = _stateData;
                tweets = _tweets;
                congress = _congress;
                initVis();
            }
        }

        var startHere = function () {
            queue()
                .defer(d3.json, '/data/states.topo.json') // geojson points
                //.defer(d3.csv, 'data/Usa_Compilation.csv')
                .defer(d3.json, '/data/tweets_1.topo.json')
                .defer(d3.csv, '/data/legislators-current.csv')
                .await(dataLoaded);
        }
        startHere();
    })

    var getInnerWidth = function (element) {
        var style = window.getComputedStyle(element.node(), null);

        return parseInt(style.getPropertyValue('width'));
    }


</script>
