<div id="content" style="width: 100%; height:600px;">
    <div id="eventsVis" style=" width:60%; height:100%; float:left; margin-left:3%; border-right: 3px solid black;">
    </div>
    <div id="eventArticles" style="float:left; width:30%; height:100%; background-color:burlywood; overflow-y: auto;">
        <div class="art">
            <span>Cuba ...</span>
            <span>Date</span>
        </div>
        <div class="art"></div>
        <div class="art"></div>
        <div class="art"></div>
        <div class="art"></div>
        
    </div>
</div>

<script>
   
    $(function () {
        var nyData = [];
        

        var initVis = function () {
            var MyEventHandler = new Object();
            var event_vis = new EventVis(d3.select("#eventsVis"), nyData, MyEventHandler);
            
            $(MyEventHandler).bind("runSlide", function (event, data) {

            });
        }

        var dataLoaded = function (error, _nyData) {

            if (!error) {
               
                nyData = _nyData;
                console.log(nyData);
                initVis();
            }
        }

        var startHere = function () {
            queue()
                .defer(d3.json, 'http://localhost:51130/api/nyt/') // geojson points
                .await(dataLoaded);
        }
        startHere();
    })

    var getInnerWidth = function (element) {
        var style = window.getComputedStyle(element.node(), null);

        return parseInt(style.getPropertyValue('width'));
    }


</script>
