<!DOCTYPE html>
<meta charset="utf-8">
<title>Homework 2 Graph</title>
<style>
  line.link {
    stroke: gray;
    stroke-width: .8px;
  }

  .node {
    fill: white;
    stroke: #000;
    stroke-width: .9px;
  }

  .node:hover {
    fill: black;
  }

  path.link {
    stroke: gray;
    stroke-opacity: .4;
    fill: none;
    pointer-events: none;
  }
</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
  <br>
  Layout:
    <label><input type="radio" name="layout" value="force-foci" onchange="vars.foci='none'; vars.layout='force-foci'; force.start();" checked> Force without foci</label>
    <input type="radio" name="layout" value="force-horizontal-foci" onchange="vars.foci='horizontal'; vars.layout='force-horizontal-foci'; force.start();"></input> Horizontal</label>
    <input type="radio" name="layout" value="force-radial-foci" onchange="vars.foci='radial'; vars.layout='force-radial-foci'; force.start();"></input> Radial</label>
  <br>
  Ranking:
    <label><input type="radio" name="layout" value="ranking-horizontal" onchange="horizontal_ranking(vars.key);" > Horizontal</label>
    <label><input type="radio" name="layout" value="ranking-vertical" onchange="vars.layout='ranking-vertical'; vertical_ranking(vars.key, false);" > Vertical</label>
    <label><input type="radio" name="layout" value="ranking-vertical-index" onchange="vars.layout='ranking-vertical-index'; vertical_ranking(vars.key, true);"> Vertical by index</label>
    rank by <span id="select_key"></span>
  <br>
  Radial:
    <label><input type="radio" name="layout" value="radial"> One level</label> 
    <label><input type="radio" name="layout" value="nested_radial"> Two levels equal</label>
    <label><input type="radio" name="layout" value="nested_radial_prop"> Two levels proportional</label>
  <br>
  2D Layouts:
    <label><input type="radio" name="layout" value="scatterplot_export_import" > Gdp x Population</label>
    <label><input type="radio" name="layout" value="scatterplot_latitude_longitude" > Latitude x Longitude</label>
  <br>
  Links:
    <input type="checkbox" name="show-links" value="show-links" onchange="activate_links(this.checked)" ></input> Show</label>
    <label><input type="radio" name="links" onchange="vars.type_links='line'; show_links(true);" disabled checked> Line</label>
    <label><input type="radio" name="links" onchange="vars.type_links='bundle'; show_links(true);" disabled> Bundle</label>
  <br>
  Color:
    <label><input type="radio" name="color" value="nocolor" checked> None</label>
    <label><input type="radio" name="color" value="color_cat" > Category</label>
  <br>
  Size:
    <label><input type="radio" name="size" value="nosize" checked> None</label>
    <label><input type="radio" name="size" value="size_cat" > Category</label>
  <br>
  <div id="viz"></div>

<script>

var margin = {top: 50, bottom: 20, left: 20, right: 100};
var width = 900 - margin.left - margin.right;
var height = 800 - margin.top - margin.bottom;

var svg = d3.select("body").append("svg")
            .attr("width", width)
            .attr("height", height);

var fill = d3.scale.category10();

var graph = {nodes:[], links:[]};

var vars = {
  key: 'population',
  year: 2012,
  min_year: 1995,
  foci: 'none',
  command: "",
  index: false,
  layout: "",
  type_links: "line",
  unique_continents: [],
  circle_size: 5,
  duration: 500
}

var bundle = d3.layout.bundle();

var line = d3.svg.line()
    .interpolate("bundle")
    .tension(.85)
    .x(function(d) { return d.x+margin.left; })
    .y(function(d) { return d.y+margin.top; });

var accessor_year = function(d) { return d["years"][vars.year - vars.min_year]; };

function find_index_country_by_id(id) {

  var index = -1;

  graph.nodes.filter(function(d, i) {  
    if(id == d.country_id) 
      index = i;
  })

  return index;
}

d3.json("data/countries_1995_2012.json", function(error,json){

  if(error) d3.select("body").style("display","block");

  json.map(function(d) {

    graph.nodes.push({name: d.name, 
                      country_id: d.country_id,
                      population: d.population,
                      gdp: accessor_year(d).gdp,
                      life_expectancy: accessor_year(d).life_expectancy,
                      population: accessor_year(d).population,
                      latitude: d.latitude,
                      longitude: d.longitude,
                      continent: d.continent,
                      years: d.years
                    })
  });

  // No links to start with
  graph.links = [];

  // Generate the force layout
  force = d3.layout.force()
    .size([width, height])
    .charge(-50)
    .linkDistance(10)
    .on("tick", tick)
    .on("start", function(d) {})
    .on("end", function(d) {})

  // To make sure the links are always behind the nodes
  svg.append("g").attr("class", "gLinks")
  
  var node = svg.selectAll(".node")
                .data(graph.nodes)
              .enter()
                .append("g").attr("class", "node")
                .attr("id", function(d) { return "country_" + d.country_id; })
                .on("mouseenter",function(d,i){ 

                  // Highlight nodes
                  d3.selectAll(".node").style("opacity", 0)    
                  d3.select(this).style("opacity", 1)

                  d.years[vars.year-vars.min_year].top_partners.forEach(function(e) {
                    d3.select("#country_"+e.country_id).style("opacity", 1) 
                  })

                  // Highlight Links
                  d3.selectAll(".link").style("opacity", .1) 
                  d3.selectAll(".source_"+d.country_id).style("opacity", 1) 

                })
                .on("mouseleave",function(){

                  d3.selectAll(".node").style("opacity", 1)
                  d3.selectAll(".link").style("opacity", .2)                  
                })

  node.append("circle")
    .attr("class", "point")
    .attr("r", vars.circle_size)

  node.append("text")
    .attr("x",7)
    .attr("y",3)
    .attr("stroke","none")
    .attr("fill","black")
    .attr("font-weight","normal")
    .attr("font-size","10px")
    .attr("class", "label")
    .html(function(d){return d.name})

  d3.select("#select_key").append("select")
                .on("change", function(d) {
                  vars.key = this.value;
                  if(vars.layout == "ranking-vertical")
                    vertical_ranking(vars.key, false);
                  else if(vars.layout == "ranking-vertical-index")
                    vertical_ranking(vars.key, true);
                })
                .selectAll("option")
                .data(["population", "gdp"])
              .enter()
                .append("option")
                .attr("value", function(d) { return d; })
                .html(function(d) { return d; })

  vars.unique_continents = d3.set(graph.nodes.map(function(d) { return d.continent; })).values();

  // Default layout
  force_layout();
});

function tick(d) {
  graph_update(0, d);
}

function create_links(nodes) {
  var res = [];

  nodes.forEach(function(d, i) {
    accessor_year(d).top_partners.forEach(function(e, j) {
      var t = find_index_country_by_id(e.country_id)        
      res.push({"source": nodes[i], "target": nodes[t]})
    });
  })
  return res;
}

function force_layout() {

 force.nodes(graph.nodes)
      .links(graph.links)
      .start();
}

function create_horizontal_foci() {

  var foci_scale = d3.scale.ordinal()
                      .domain(d3.range(vars.unique_continents.length)).rangeBands([-width/4, width/2])

  return vars.unique_continents.map(function(d, i) {
    return {x: foci_scale(i), y: 0};
  })
}

function create_radial_foci() {

  var r = height/4;

  var arc = d3.svg.arc()
          .innerRadius(r);

  // Top wedge proportional to number of countries by continent
  var pie = d3.layout.pie();

  pie.value(function(d, i) { return 1; })

  return pie(vars.unique_continents).map(function(d, i) {
    d.innerRadius = r;
    d.outerRadius = r;
    d.x = arc.centroid(d)[0];
    d.y = arc.centroid(d)[1];
    return d;
  })
}

function radial_layout() {

  force.stop();

  var r = height/2;

  var arc = d3.svg.arc()
          .outerRadius(r);

  var pie = d3.layout.pie()
          .sort(function(a, b) { return a.cat - b.cat;})
          .value(function(d, i) { return 1; }); // equal share for each point

  graph.nodes = pie(graph.nodes).map(function(d, i) {
    d.innerRadius = 0;
    d.outerRadius = r;
    d.data.x = arc.centroid(d)[0]+width/2;
    d.data.y = arc.centroid(d)[1]+height/2;
    d.data.endAngle = d.endAngle; 
    d.data.startAngle = d.startAngle; 
    return d.data;
  })

  graph_update(vars.duration);
}

function nested_radial_layout(is_prop) {

  force.stop();

  var r = height/4;

  var arc = d3.svg.arc()
          .innerRadius(r);

  var pie = d3.layout.pie();

  // In case we want a pie chart proportional to the number of countries per continent
  if(is_prop) {
    pie.value(function(d, i) { 
      return graph.nodes.filter(function(d) { return d.continent == vars.unique_continents[i]; }).length; 
    })
  } else {
    pie.value(function(d, i) { return 1; })
  }

  var data_continents = pie(vars.unique_continents).map(function(d, i) {
    d.innerRadius = r;
    d.outerRadius = r*4;
    d.x = arc.centroid(d)[0]+width/2;
    d.y = arc.centroid(d)[1]+height/2;
    d.endAngle = d.endAngle; 
    d.startAngle = d.startAngle; 
    d.continent = d.data;

    return d;
  })

  var pie = d3.layout.pie().value(function(d, i) { return 1; }); // equal share for each point

  data_continents.forEach(function(c) {

    nb_countries = graph.nodes.filter(function(d) { return d.continent == c.continent; }).length

    var arc = d3.svg.arc();

    if(is_prop) {
      arc.innerRadius(nb_countries*5);
    } else {
      arc.innerRadius(r);
    }

    list_nodes = graph.nodes.filter(function(d) { return d.continent == c.continent; })

    pie(list_nodes).map(function(d, i) {
      d.innerRadius = nb_countries;
      d.outerRadius = nb_countries/10;
      d.data.x = arc.centroid(d)[0]+width/2 + c.x/2-width/4;
      d.data.y = arc.centroid(d)[1]+height/2 + c.y/2-height/4;
      d.data.endAngle = d.endAngle; 
      d.data.startAngle = d.startAngle; 
      return d.data;
    })

  })

  graph_update(vars.duration);
}

function activate_links(activate) {

  d3.selectAll("input[name=\"links\"]").property("disabled", !activate);
  show_links(activate);
  vars.show_links = activate;

  graph_update();
}

function show_links(show) {

  force.stop()

  if(show) {

    graph.links = create_links(graph.nodes);
    svg.selectAll(".link").remove();

    if(vars.type_links == "line") {
      line_links();

    } else {
      bundle_links(0);
    }

  } else {
    graph.links = [];
    svg.selectAll(".link").data(graph.links).exit().remove();
  }
}

function line_links() {

  force.stop()

  svg.select(".gLinks").selectAll(".link")
        .data(graph.links)
      .enter().append("line")
        .attr("class", function(d) { 
          return "link source_"+d.source.country_id+" target_"+d.target.country_id;
        })
        .attr("opacity", .5)
        .style("display", "inherit")

  svg.selectAll(".link").transition().duration(vars.duration)
      .attr("x1", function(d) { return d.target.x+margin.left; })
      .attr("y1", function(d) { return d.target.y+margin.top; })
      .attr("x2", function(d) { return d.source.x+margin.left; })
      .attr("y2", function(d) { return d.source.y+margin.top; })
}

function bundle_links(duration) {

  if(typeof animate == "undefined")
    duration = 500;

  force.stop()

  // Add a control point
  graph.nodes.push({name: "Control point", x:width/2, y:height/2})

  // Make this control point the parent of every node
  graph.nodes.forEach(function(d,i ) {
    if(i < graph.nodes.length-1) {
      d.parent = graph.nodes[graph.nodes.length-1];
    }
  })

  var link = svg.select(".gLinks").selectAll(".link").data(bundle(graph.links));

  link.enter().append("path")
        .attr("class", function(d) { 
          return "link source_"+d[0].country_id+" target_"+d[2].country_id;
        })

  link
    .transition().delay(duration/2).duration(2*duration)
    .each("start", function() {
      d3.select(this)
        .style("display", "none");
    })
    .attr("d", line)
    .each("end", function() {
      d3.select(this)
       .style("display", "inherit")
    });

  // Remove the control point
  graph.nodes.pop();
}

function category_color() {

  d3.selectAll("circle").transition().duration(vars.duration)
    .style("fill", function(d) { 
      return fill(d.continent); 
    });
}

function category_size() {

  var scale_circle = d3.scale.linear()
             .domain(d3.extent(graph.nodes, function(d){return  accessor_year(d).population}))
             .range([3,50]);

  d3.selectAll("circle").transition()
    .duration(vars.duration)
    .attr("r", function(d) { 
      return scale_circle(accessor_year(d).population); 
    });
}

function graph_update(duration, e) {

  d3.selectAll(".label").transition().attr("transform", "rotate(0)");

  if(typeof e != "undefined")
    k = .1 * e.alpha;
  else
    k = 1;

  var foci = d3.range(vars.unique_continents.length).map(function() {
    return {x: 0, y: 0};
  })

  if(vars.layout == "force-horizontal-foci") {

    foci = create_horizontal_foci();

  } else if(vars.layout == "force-radial-foci") {

    foci = create_radial_foci();
  }

  graph.nodes.forEach(function(o, i) {
    o.y += foci[vars.unique_continents.indexOf(o.continent)].y * k;
    o.x += foci[vars.unique_continents.indexOf(o.continent)].x * k;
  });

 if(vars.show_links && vars.type_links == "line") {

    svg.selectAll(".link").transition().delay(duration/2).duration(2*duration)
      .each("start", function() {
        d3.select(this)
          .style("display", "none");
      })
      .attr("x1", function(d) { return d.target.x+margin.left; })
      .attr("y1", function(d) { return d.target.y+margin.top; })
      .attr("x2", function(d) { return d.source.x+margin.left; })
      .attr("y2", function(d) { return d.source.y+margin.top; })
      .each("end", function() {
        d3.select(this)
         .style("display", "inherit")
      });

  // Update bundles
  } else if(vars.show_links && vars.type_links == "bundle") {

    bundle_links();
  }

  svg.selectAll(".node").transition().duration(duration).delay(duration)
      .attr("transform", function(d) { 
        return "translate("+(d.x+margin.left)+","+(d.y+margin.top)+")"; 
      });
}

function scatterplot_layout(var_x, var_y, is_static) {

  var accessor = accessor_year;

  if(is_static) {
    accessor = function(d) { return d; }
  }

  force.stop();

  var scale_x = d3.scale.linear()
        .domain(d3.extent(graph.nodes, function(d){
          return accessor(d)[var_x];
        }))
        .range([margin.left, width-margin.right]);
        
  var scale_y = d3.scale.linear()
        .domain(d3.extent(graph.nodes, function(d){ 
          return accessor(d)[var_y];
        }))
        .range([height-margin.bottom-margin.top, margin.top]);

  graph.nodes.forEach(function(d, i) {
    d.x = scale_x(accessor(d)[var_x]);
    d.y = scale_y(accessor(d)[var_y])
  })

  graph_update(vars.duration);
}

function horizontal_ranking(var_x) {

  force.stop();

  var scale_x = d3.scale.linear()
        .domain(d3.extent(graph.nodes, function(d){
          return accessor_year(d)[var_x];
        }))
        .range([0, width]);

  graph.nodes.forEach(function(d, i) {
    d.x = scale_x(accessor_year(d)[var_x]);
    d.y = width/2;
  })
   
  graph_update(vars.duration);

  d3.selectAll(".label").transition().attr("transform", "rotate(30)");
}

function vertical_ranking(var_y, by_index) {

  force.stop();

  if(by_index) {

    var scale_y = d3.scale.ordinal()
        .domain(d3.range(graph.nodes.length))
        .rangeBands([margin.top, height-margin.top-margin.bottom])

    graph.nodes.sort(function ascendingKey(a, b) {
      return d3.descending(accessor_year(a)[var_y], accessor_year(b)[var_y]);
    }).forEach(function(d, i) {
      d.x = width/2;
      d.y = scale_y(i);
    })

  } else {

    var scale_y = d3.scale.linear()
        .domain(d3.extent(graph.nodes, function(d){ 
          return  accessor_year(d)[var_y];
        }))
        .range([height-margin.top-margin.bottom, 0]);

    graph.nodes.sort(function ascendingKey(a, b) {
      return d3.descending(accessor_year(a)[var_y], accessor_year(b)[var_y]);
    }).forEach(function(d, i) {
      d.x = width/2;
      d.y = scale_y(accessor_year(d)[var_y]);
    })
  }

  d3.selectAll(".label").transition().attr("transform","rotate(0)");
   
  graph_update(vars.duration);
}

d3.select("input[value=\"radial\"]").on("click", function() {
  vars.layout = "radial";
  radial_layout(); 
});

d3.select("input[value=\"nested_radial\"]").on("click", function() { 
  vars.layout = "nested-radial";
  nested_radial_layout(false); 
});

d3.select("input[value=\"nested_radial_prop\"]").on("click", function() {
  vars.layout = "nested-radial-prop";
  nested_radial_layout(true); 
});

d3.select("input[value=\"nocolor\"]").on("click", function() {
  d3.selectAll("circle").transition().duration(vars.duration).style("fill", "white");
})

d3.select("input[value=\"color_cat\"]").on("click", category_color);

d3.select("input[value=\"nosize\"]").on("click", function() {
  d3.selectAll("circle").transition().duration(vars.duration).attr("r", vars.circle_size);
})

d3.select("input[value=\"size_cat\"]").on("click", category_size);

d3.select("input[value=\"scatterplot_export_import\"]").on("click", function() {
  scatterplot_layout('gdp', 'population');
});

d3.select("input[value=\"scatterplot_latitude_longitude\"]").on("click", function() {
  scatterplot_layout('longitude', 'latitude', true);
});
</script>
</body>
</html>